<%- include("partials/header",{quote : "“If you want to continually grow your blog, you need to learn to blog on a consistent basis.”~Neil Patel"}); -%>
    <h1 class="titles">About</h1>
    <p class="contents"> <%= aboutContent %> </p>
<%- include("partials/footer"); -%>
