<%- include("partials/header", {quote : "“A blog is only as interesting as the interest shown in others.”~ Lee Odden"}); -%>
    <h1 class="titles">Contact</h1>
    <p class="contents"> <%= contactContent %> </p>
<%- include("partials/footer"); -%>
